tags = {
    ENVIRONMENT           = "PRODUCTION"
    ENVIRONMENT_LANDSCAPE = "PRODUCTION"
    OWNER                 = "JBLOGGS@EXAMPLE.COM"
    PROJECT               = "CFG-MGMT"
    SERVICE               = "CI-CD"
    COST_CENTRE           = "11223344"
    BUSINESS              = "TECHNOLOGY"
    AUTOMATION            = "Created with Terraform"
}

configure_letsencrypt     = false
certificate_email         = "JBLOGGS@EXAMPLE.COM"
openvpnas_dns             = "ovpn.example.com"
admin_password            = "examplepassword"
aws_account_id            = "000000000000"
ldap_bind_pw              = "examplepassword"
vpc_id                    = "vpc-12345678"
public_subnet_id          = "subnet-abcd1234"
route53_zone_name         = "example.com"
s3_bucket_name            = "example_buvcket"
